body {
  /* font-family: 'Kavivanar', cursive; */
  font-family: 'Raleway Dots', cursive;
  /* font-family: 'Mirza', cursive;
  font-family: 'Cutive Mono', monospace; */
  background: rgb(16, 2, 19);
  margin: 0;
  color:lightgray;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#title {
  transition: all 1s 2s;
}

#title.dissolve {
  opacity: 0;
}

#dreamcatcher-img {
  transition: transform 1.5s .5s, opacity 1s 2s;
}

#dreamcatcher-img.animate {
  transform: scale(0.36);
  transform-origin: 50% 20%;
  opacity: 0;
}

#dreamcircle {
  width: 80px;
  position: fixed;
  top: 257px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s 2s, visibility 1s 2s, transform 1s;
}

#dreamcirlce.static {
  visibility: visible;
  opacity: 1;
}

#dreamcircle.appear {
  visibility: visible;
  opacity: 1;
}

#click-to-start {
  position: absolute;
  bottom: 255px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: all 1s 2.6s;
}

#click-to-start.appear {
  visibility: visible;
  opacity: 1;
}

#dreamcircle.rotate {
  animation: rotate 2.5s infinite linear;
}

@keyframes rotate {
  0% {
      -webkit-transform: rotate(0deg);
  }
  50% {
      -webkit-transform: rotate(159deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes pulse {
  0% {
      -webkit-transform: scale(1);
  }
  50% {
      -webkit-transform: scale(.85);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes rotate-pulse {
  0% {
      -webkit-transform: rotate(0deg) scale(1);
  }
  50% {
      -webkit-transform: rotate(179deg) scale(.85);
  }
  100% {
    -webkit-transform: rotate(359deg) scale(1);
  }
}

.dropdown-content {
  display: none;
  z-index: 1;
  transition: all 1s;
}

.show {
  display: block;
  position: absolute;
  top: 3em;
  right: 1em;
  margin: .5em 0;
}

.show.dropdown-content > div {
  padding: 1em;
  display: flex;
  align-items: center;
}

.show.dropdown-content a {
  color: lightgray;
}
